{% use "bootstrap_3_layout.html.twig" %}

{%- block form_widget -%}
    {% if compound %}
        {% if form.parent.parent is empty %}
            {{- block('form_widget_compound') -}}
            <button type="button" class="btn btn-default btn-compound-add-item"><i class="fa fa-plus"></i>Add Item</button>
        {% else %}
            {{- block('form_widget_compound') -}}
        {% endif %}
    {% else %}
        {{- block('form_widget_simple') -}}
    {% endif %}
{%- endblock form_widget -%}

{%- block form_widget_compound -%}
    {% if form.parent.parent is empty %}
        {{ parent() }}
    {% else %}
        <div class="panel panel-default" style="border: 1px solid #ddd;">
            <div class="panel-body">
                {{ parent() }}
            </div>
        </div>
    {% endif %}
{%- endblock form_widget_compound -%}

{% block form_widget_simple -%}
    {% if type is defined and type == 'file' and  form.vars.data.filename is defined %}
        <br>
        <b>{{ form.vars.data.filename }}</b>
    {% endif %}
    
    {{- parent() -}}
{%- endblock form_widget_simple %}

{% block checkbox_widget -%}
    <label class="checkbox">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <i></i>
        
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}
        {{ name|humanize }}
    </label>
{%- endblock checkbox_widget %}