{% use "@app/widgets.html.twig" %}
{% use "@app/misc/widget_text_max_lines.html.twig" %}

<div class="panel panel-default app-list-feed">
    
    {% if data | length %}
        
        {% if (view.filters | length) or (view.top | length) or (view.showCount) %}
            <div class="panel-heading">
                
                
                {% if view.filters | length %}
                    <form>
                        <div class="btn-group" data-toggle="buttons">
                            
                            {#<label class="btn btn-default active">
                                <input type="checkbox" name="123" data-toggle="button" checked>
                                <span class="glyphicon glyphicon-star"></span>
                                123
                            </label>
                            <label class="btn btn-default">
                                <input type="checkbox" name="456">
                                <span class="glyphicon glyphicon-star-empty"></span>
                                456
                            </label>#}
                            
                            {% for filter in view.filters %}
                                <label class="btn btn-default btn-xs"> <input type="checkbox" name="filters[0]" onchange="this.form.submit()">
                                    {{ filter.name }}
                                </label>
                            {% endfor %}
                        
                        </div>
                    </form>
                {% endif %}
                
                {% for field in (view.top | view_fields(data[0], false)) %}
                    {{ block('widget_field') }}
                {% endfor %}
                
                {% if view.showCount %}
                    <div class="pull-right">
                        Count: {{ data | length }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        
        {% set fields = (view.fields | view_fields(data[0])) %}
        
        <div class="panel-body padding-30">
            {% for entity in data %}
                <div class="table-responsive">
                    <table class="table table-hover table-bordered{% if loop.index is odd %} odd{% endif %}" data-toggle="table">
                        {% for field in fields %}
                            <tr>
                                <td width="15%"><strong>{{ field.name|humanize }}</strong></td>
                                <td>{{ block('widget_field') }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                
                <div class="padding-bottom-10"></div>
            {% endfor %}
        
        </div>
    {% endif %}
</div>