{#{% form_theme filtersFormView '@app/form/custom_layout.html.twig' %}#}
{% use "@app/widgets.html.twig" %}
{% use "@app/misc/widget_text_max_lines.html.twig" %}

{% if filtersFormView is defined and filtersFormView.children | length %}
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="GET" class="appgear-list-filters">
                {{ form_start(filtersFormView, {'method': 'GET'}) }}
                
                {% for child in filtersFormView.children|keys %}
                    {% if '_negative' not in child %}
                        {% set formField = attribute(filtersFormView.children, child) %}
                        {% set childNegative = child ~ '_negative' %}
                        {% set formFieldNegativeField = attribute(filtersFormView.children, childNegative) %}
                        
                        <div class="form-group">
                            {{ form_label(formField) }}
                            
                            <div class="input-group">
                                {{ form_widget(formField) }}
                                <span class="input-group-addon">
                                        {#{{ form_widget(formFieldNegativeField) }}#}
                                    <input type="checkbox" name="{{ formFieldNegativeField.vars.full_name }}" value="{{ formFieldNegativeField.vars.value }}"{% if formFieldNegativeField.vars.data %} checked{% endif %}>
                                </span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                
                <input type="submit" value="Apply" class="btn-default btn">
                <input type="reset" value="Reset" class="btn-default btn">
                {{ form_end(filtersFormView, {'render_rest': false}) }}
            </form>
        </div>
    </div>
{% endif %}

<div class="panel panel-default">
    
    {% if view.showCreateButton or view.showCount or view.top|length or view.title|length %}
        <div class="panel-heading">
            
            {% if view.title|length %}
                <div style="display: inline-block; padding-right: 15px">
                    <strong>{{ view.title }}</strong>
                </div>
            {% endif %}
            
            {% if view.showCreateButton %}
                <div style="display: inline-block;">
                    <a href="{{ path('admin.create', {model: view.model}) }}" class="btn btn-primary btn-xs btn-block white"><i class="fa fa-plus"></i> Create</a>
                </div>
            {% endif %}
            
            {% if view.showCount %}
                <div class="pull-right">
                    Count: {{ data | length }}
                </div>
            {% endif %}
            
            {% if data | length %}
                <div class="pull-right" style="padding-right: 20px">
                    {% for field in (view.top | view_fields_prepare) %}
                        <strong>{{ field.field.name|humanize }}</strong>
                        {{ block('widget_field') }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
    
    {% if data | length %}
        {% set fields = (view.fields | default(view.model | view_fields_from_model) | view_fields_prepare(view.model, data)) %}
        {#{% set fields = (view.fields | default(model | view_fields_from_model) | view_fields_prepare(model, data)) %}#}
        
        <div class="panel-body padding-30">
            {% block listBody %}{% endblock %}
        </div>
    {% else %}
        <div class="panel-body padding-30">
            {% block listBodyEmpty %}{% endblock %}
        </div>
    {% endif %}
    
    {% include '@app/misc/pagination.html.twig' %}
</div>