{# Widgets for fields #}

{% block widget_field %}
    {% spaceless %}
        {% set _value  = entity|property_accessor(field.mapping) %}
        
        <span{% if field.field.liveEdit %} class="live-edit"{% endif %}>
        {% if (field.field.widget is defined and field.field.widget is not null) or field.property is null %}
            {% set _widget = field.field.widget %}
            {{ block('widget') }}
        {% elseif (field.property|class) == 'ToMany' %}
            {{ block('widget_field_to_many')|raw }}
        {% elseif (field.property|class) == 'ToOne' %}
            {{ block('widget_field_default') }}
        {% else %}
            {% set _block = block('widget_field_' ~ (field.property|class|replace({'Type': ''})|lower)) %}
            {% if _block is not empty %}
                {{ _block|raw }}
            {% else %}
                {{ block('widget_field_default') }}
            {% endif %}
        {% endif %}
        </span>
    {% endspaceless %}
{% endblock %}

{% block widget_field_to_many %}
    <ul>
        {% for item in attribute(entity, field.property.name) %}
            <li>
                {% set _value = item %}
                {{ block('widget_field_to_one') }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block widget_field_default %}
    {{ _value }}
{% endblock %}

{% block widget_field_text %}
    {{ _value|nl2br|raw }}
{% endblock %}

{% block widget_field_date %}
    {{ _value|date('Y-m-d') }}
{% endblock %}

{% block widget_field_datetime %}
    {{ _value|date('Y-m-d H:i:s') }}
{% endblock %}


{# Widgets #}

{% block widget %}
    {% set _block = null %}
    {% if _widget is not null %}
        {% set _block = block('widget_' ~ (_widget|class)|lower) %}
    {% endif %}
    {% if _block is not empty %}
        {{ _block|raw }}
    {% else %}
        {{ block('widget_default') }}
    {% endif %}
{% endblock %}

{% block widget_default %}
    {{ _value }}
{% endblock %}

{% block widget_collection %}
    <ul>
        {% set _uniqid = ''|uniqid %}
        
        {% set collection_value = _value %}
        {% set collection_widget = _widget %}
        
        {% for item in collection_value %}
            
            {% set attrs = {} %}
            {% if collection_widget.collapse and (collection_value|length > 1) %}
                {% if loop.index0 != 0 %}
                    {% set attrs = {'class': 'collapse-' ~ _uniqid ~ ' collapse'} %}
                {% else %}
                    {% set attrs = {'class': 'collapsor', 'data-toggle': 'collapse', 'data-target': '.collapse-' ~ _uniqid, 'aria-expanded': 'false'} %}
                {% endif %}
            {% endif %}
            
            <li{{ attrs|htmlAttributes }}>
                {% set _value = item %}
                
                {% if collection_widget.widget is not null %}
                    {% set _widget = collection_widget.widget %}
                {% else %}
                    {% set _widget = null %}
                {% endif %}
                
                {{ block('widget') }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block widget_expression %}
    {{ _widget.expression|expression(entity, _value) }}
{% endblock %}

{% block widget_action %}
    {# GET parameters dictionary #}
    {% set parameters = {} %}
    {% for parameter in _widget.parameters %}
        {% if parameter.property | length %}
            {% set parameter_value = entity|property_accessor(parameter.property) %}
        {% else %}
            {% set parameter_value = parameter.value %}
        {% endif %}
        
        {% set parameters = parameters|merge({(parameter.parameter): parameter_value}) %}
    {% endfor %}
    
    {# POST parameters dictionary #}
    {% set postParameters = {} %}
    {% set postParametersStrings = [] %}
    {% for parameter in _widget.postParameters %}
        {% if parameter.property | length %}
            {% set parameter_value = entity|property_accessor(parameter.property) %}
        {% else %}
            {% set parameter_value = parameter.value %}
        {% endif %}
        
        {% set postParameters = postParameters|merge({(parameter.parameter): parameter_value}) %}
        {% set postParametersStrings = postParametersStrings|merge(['"' ~ parameter.parameter ~ '":"' ~ parameter_value ~ '"']) %}
    {% endfor %}
    {% set postParametersString = '{' ~ (postParametersStrings|join(',')) ~ '}' %}
    
    {% if _widget.method == 'ajax' %}
        <button type="submit" class="btn btn-primary btn-xs appgear-widget-action" data-appgear-widget-action-confirm="{{ _widget.confirm }}" data-appgear-widget-action-url="{{ path(_widget.route, parameters) }}" data-appgear-widget-action-post="{{ _widget.post }}" data-appgear-widget-action-post-parameters='{{ postParametersString }}'>{{ _value | default(field.field.name) }}</button>
    {% else %}
        {% if _widget.post %}
            <form method="post" action="{{ path(_widget.route, parameters) }}" style="margin: 0">
                {% for parameterName, parameterValue in postParameters %}
                    <input type="hidden" name="{{ parameterName }}" value="{{ parameterValue }}"/>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-xs"{% if _widget.confirm %} onclick="return confirm('Are you sure?')"{% endif %}>{{ _value | default(field.field.name) }}</button>
            </form>
        {% else %}
            {% if _widget.route | length %}
                {% set href = path(_widget.route, parameters) %}
            {% else %}
                {% set href = _widget.link | string_named_sprintf(parameters) %}
            {% endif %}
            
            {% set attrs = {'href':  href} %}
            
            {% if _widget.confirm %}
                {% set attrs = attrs|merge({'onClick': 'return confirm("Are you sure?")'}) %}
            {% endif %}
            {% if _widget.newWindow %}
                {% set attrs = attrs|merge({'target': '_blank'}) %}
            {% endif %}
            
            <a{{ attrs|htmlAttributes }}>{{ _value | default(field.field.name) }}</a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block widget_service %}
    {{ widget_service(_value, _widget) | raw }}
{% endblock %}

{% block widget_view %}
    {{ _widget.view | render( _value) | raw }}
{% endblock %}

{% block widget_phone %}
    {% set phone = _value|phone_format %}

    {% if phone|length %}
        <a href="tel:{{ phone }}">{{ phone }}</a>
        &nbsp;
        <a href="viber://chat?number={{ phone|replace({'+': ''}) }}" class="fab fa-lg fa-viber" style="color:#665cac" title="Viber"></a>
        &nbsp;
        <a href="https://api.whatsapp.com/send?phone={{ phone|replace({'+': ''}) }}" class="fab fa-lg fa-whatsapp" style="color:#09d261" title="WhatsApp"></a>
    {% else %}
        {{ _value }}
    {% endif %}
{% endblock %}

{% block widget_style %}
    {% set classes = [] %}
    {% for tag in _widget.tags %}
        {% if tag.expression|expression(entity) %}
            {% set classes = classes|merge([tag.name]) %}
        {% endif %}
    {% endfor %}
    
    <span{% if classes|length %} class="{{ classes|join(' ') }}"{% endif %}>{{ _value }}</span>
{% endblock %}